{% extends "layout.html.jinja" %}

{% block middle %}

<div class="container" style="display: flex; align-items: center; justify-content: center; padding-top: 30px;">
        <img style="border-radius: 50%; max-width: 25%;" src="{{url_for('static', filename='123.png')}}" />
      <div class="text" style="padding-left: 40px">
        <h1>Illia Tereshchuk, UEK Applied Informatics s218646</h1>
      </div>
</div>

{% endblock middle %}