{% extends "layout.html.jinja" %}


{% block middle %}
    <form action="{{url_for ('charts') }}" method="GET">>
        <button type="button" class="btn btn-info" style="margin: 20px;">Download CSV</button>
    </form>
    <form action="{{url_for ('charts') }}" method="GET">>
        <button type="button" class="btn btn-info" style="margin: 20px;">Charts</button>
    </form>

    {#<h2> {{product}} </h2> #}
    {#<p> {{product}} <p>#}
    {% for table in tables %}
            {{ table|safe }}
    {% endfor %}
{% endblock middle %}
{% block scripts %}
      <script>
        $(document).ready( function () {
            $('#opinions').DataTable();
        } );
      </script>
{% endblock scripts %}